/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px;
}
a {
    text-decoration: none;
}
.navbar .container {
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
}
.navbar-brand-text {
    
    color: var(--clr-dark);
    font-weight: 600;
}

.navbar-brand-text span {
    color: var(--clr-blue);
}

.navbar-brand-icon {
    width: 50px;
    margin-right: 6px;
    opacity: 0.8;
}

.brand-and-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-buttons {
    display: flex;
    gap: 1rem; /* Space between buttons */
}

.btn-navbar {
    padding: 0.8rem 1rem; /* Button padding */
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: 1px solid var(--clr-blue);
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-navbar:hover {
    background-color: transparent;
    color: var(--clr-dark);
    border-color: var(--clr-grey);
}


body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Contact form styles */
form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.para{
    font-weight: bold;
    font-size: 150%;
    color:#1A91F0;
}
.title{
    font-weight: bold;
    font-size: 100%;
    color:#555;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #555;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

input[type="submit"] {
    background-color:#1A91F0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    background-color: transparent;
    color:#333;
    border: 1px solid grey;
}

/* Contact details */
.contact-details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contact-detail-item {
    background: #fff;
    padding: 20px;
    flex-basis: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-detail-item i {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-detail-item h4 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-detail-item p {
    font-size: 1rem;
    color: #666;
}

:root{
    --clr-blue: #1A91F0;
    --clr-blue-mid: #1170CD;
    --clr-blue-dark: #1A1C6A;
    --clr-white: #fff;
    --clr-bright: #EFF2F9;
    --clr-dark: #1e2532;
    --clr-black: #000;
    --clr-grey: #656e83;
    --clr-green: #084C41;
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --transition: all 300ms ease-in-out;
}


/* footer */
.footer{
    padding: 1rem 0;
    background-color: var(--clr-dark);
}
.footer-content p{
    color: var(--clr-grey);
}
.footer-content p span{
    color: var(--clr-white);
}
.text-center {
    text-align: center;
}
.fs-15 {
    font-size: 15px;
}